name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
        java-package: jdk+fx
        architecture: x64
    - name: Build with Maven
      run: mvn -B clean package test --file pom.xml